<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMCollectorMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0910A6351CD57FEC008F68EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0910A64B1CD57FEC008F68EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0910A6561CD57FEC008F68EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
